html {
	font-family: "arial", san-serif;
}

h1 {
	text-align: center;
}

.container {
	margin: 1.25em auto;
	width: 960px;
}


input[type=text] {
	width: 149px;
	float: left;
	padding: 5px;
	height: 20px;
	text-align: right;
	font-weight: bold;
	font-size: 15px;
	font-family: "Lucida Console", Monaco, monospace;
}
input[type=text]:focus {
	outline: 0;
}

button {
	width: 40px;
	height: 40px;
	margin-right: 1px;
	margin-bottom: 0px;
	float: left;
	color: #fff;
	border: 0;
	background-color: #555;
	/*border-radius: 0px;*/
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
}
button:hover {
	background-color: #444;
	cursor: pointer;
}
button:focus {
	outline: 0;
}
button:active {
	background-color: #000 !important;
}
button.operator, button.equal {
	background-color: #007ed6;
}
button.operator:hover, button.equal:hover {
	background-color: #0068b1;
}
button.reset {
	background-color: #ff8a00;
}
button.reset:hover {
	background-color: #ed6a00;
}
.row {
	clear: left;
	float: left;
	margin-bottom: 1px;
	padding: 0;
	position: relative;
}